$mainWhite: #fff;
$primary: #811aff;
$primaryLight: #a257ff;
$secondary: #ffd601;
$lightGray: #898989;
$deepGray: #555555;
$darkGray: #27282c;
$black: #131313;
$lightBlue: #5597ff;

// :export {
//   mainWhite: $mainWhite;
//   primary:$primary;
//   primaryLight:$primaryLight;
//   secondary: $secondary;
//   lightGray: $lightGray;
//   deepGray: $deepGray;
//   darkGray:$darkGray;
//   black: $black;
// }
