.invitation_container {
    display: grid;
    place-items: center;
    background-color: #131313;
    border-radius: 25px;
    width: 538px;
    padding: 4em;
    text-align: center;
    .notification {
        font-size: 22px;
        line-height: 26px;
    }
    .close{
        border-radius: 10px;
        background: #811aff;
        padding: 0.5em 2em;
        color: #fff;
    }
}
